<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.loli.net/2020/09/03/uAaWorV3MI4OdbT.png" type="image/x-icon">
    <title>@ViewBag.Title - Team Cookie</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #chatBotTitle {
            width: 100px;
            height: 100px;
            margin-left: 300px;
            margin-right: 30px;
            margin-bottom: 80px;
            display: block;/*
            border-radius: 50%;*/
            outline: none;
            border: none;
            background: white;
        }


        #jiexianyuan {
            width: 60px;
            height: 60px;
            margin-left:20px;
        }
         #jiexianyuan:hover {
            box-shadow: black 0px 0px 5px;
        }

        #google_translate_element {
            float: right;
        }

        #chatbot {
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 100;
        }

        #chat {
            width: 400px;
            height: 500px;
            margin: 6px;
            display: none;
        }

        #tiao {
            background-color: white;
            border: none;
        }

        .navbar-nav > li:hover,
        .navbar-header:hover {
            background-color: #6495ED;
        }

        /*.navbar-inverse .navbar-nav > li > a {
            color: #6495ED;
        }
*/
        li{
            font-weight: bold;
            font-size: 15px;
        }

        .mystyle{
            border: 2px solid black;
        }

    </style>
    

</head>

<!--This file controls the whole layout-->
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" id="tiao">
        <!--Add project logo on the top of home page-->

        <div class="navbar-inner" style="padding-top: 39px;">
            <div class="container">
                <div class="navbar-header">
                    <img src="https://i.loli.net/2020/09/03/uAaWorV3MI4OdbT.png" id="logo" height="50" width="50" />
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink("Happy Thoughts", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                
                <div class="navbar-collapse collapse">
                    
                    <!--These are elements of navigation-->
                    <ul class="nav navbar-nav highlights">
                        
                        <li @*class="nav-highlight" id="home"*@>@Html.ActionLink("Home", "Main", "Home")</li>
                        <li @*class="nav-highlight" id="understand"*@>@Html.ActionLink("Understand", "Info", "Home")</li>
                        <li @*class="nav-highlight" id="relate"*@>@Html.ActionLink("Relate", "NotAlone", "Home")</li>
                        <li @*class="nav-highlight" id="examine"*@>@Html.ActionLink("Examine", "KnowYouBetter", "Home")</li>
                        <li @*class="nav-highlight" id="accomplish"*@>@Html.ActionLink("Accomplish", "Accomplish", "Home")</li>
                        <li @*class="nav-highlight" id="about"*@>@Html.ActionLink("About Us", "About", "Home")</li>
                    </ul>
                    <div id="google_translate_element"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="chatbot">
        <iframe id="chat" src='https://webchat.botframework.com/embed/caldbot15f96-bot?s=dKkBKa55FcA.DGc109odBCORDiVD1CUFpMfPERnKJtWxJetXeBgRGWY' @*style='min-width: 400px; width: 100%; min-height: 500px;'*@></iframe>
        @*button id="chatBotTitle"*@
        <div id="chatBotTitle">
            <h5 style="color:#6495ED; font-weight:bold;text-align:center">CALDBOT</h5>
            <img id="jiexianyuan" src="~/Resources/jiexianyuan.PNG" onclick="kaiGuan()"/>
            <h6 style="color:#6495ED; font-weight:bold;text-align:center">Type something after clicking the icon</h6>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center">&copy; @DateTime.Now.Year - Team Cookie</p>
        </footer>
    </div>
    <!--refer jquery and bootstrap-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
        //javescript for translate function
    </script>
    <script type="text/javascript">
        //javescript for translate function
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>


    <script type="text/javascript">
        var dk = false;
        function kaiGuan() {
            if (dk) {
                document.getElementById('chat').style.display = "none";
                document.getElementById('jiexianyuan').src = "/Resources/jiexianyuan.PNG";
                dk = false;
            } else {
                document.getElementById('chat').style.display = "inline";
                document.getElementById('jiexianyuan').src = "/Resources/close.png";
                dk = true;
            }
        }

        //var titles = document.getElementsByClassName("nav-highlight");

        //titles[3].onclick = function () {
        //    var element = document.getElementById(this.id);
        //    element.style.backgroundColor = "red";
        //}


        //window.onload = function () {
        //    var dk = false;
        //    function kaiGuan() {
        //        if (dk) {
        //            document.getElementById('chat').style.display = "none";
        //            document.getElementById('jiexianyuan').src = "/Resources/jiexianyuan.PNG";
        //            dk = false;
        //        } else {
        //            document.getElementById('chat').style.display = "inline";
        //            document.getElementById('jiexianyuan').src = "/Resources/close.png";
        //            dk = true;
        //        }
        //    }

        //    var biaoti = document.getElementsByClassName("highlights")[0];


        //    biaoti.addEventListener("click", function (event) {
        //        console.log("hhh");
        //        var id = $(this).attr("id");
        //        var element = document.getElementById(id);
        //        element.classList.add("mystyle");
        //    });
        //}
    </script>


</body>
</html>
